@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.nav_m{
  display: flex;
  height: 80px;
  width: 100%;
  /* background: #1b1b1b; */
  background: #343148FF;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 30px;
  flex-wrap: wrap;
}
.ul_m{
  margin-top: auto;
  margin-bottom: auto;
}
.nav_m .logo{
  /* color: #fff; */
  color: #D7C49EFF;
  font-size: 35px;
  font-weight: 600;
}
@media(max-width: 520px) {
.nav_m .logo{
  font-size: 28px;
}
}
.info{
  border-spacing: 20px;
}
@media(max-width: 770px) {
  .content{
    padding-top: 530px;
  }
  .info{
    border-spacing: 15px;
  }
}
.nav_m .ul_m{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav_m .ul_m .li_m{
  margin: 0 5px;
}
.nav_m .ul_m .li_m .a_m{
  /* color: #f2f2f2; */
  color: #D7C49EFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.nav_m .ul_m .li_m .a_m.active,
.nav_m .ul_m .li_m .a_m:hover{
  color: #111;
  background: #fff;
  /* background: #D7C49EFF; */
}
.nav_m .menu-btn .i_m{
  /* color: #fff; */
  color: #D7C49EFF;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  .nav_m{
    padding: 0 20px 0 30px;
  }
}
@media (max-width: 920px) {
  .nav_m .menu-btn .i_m{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .nav_m .ul_m{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ .ul_m{
    left: 0;
  }
  .nav_m .ul_m .li_m{
    width: 100%;
    margin: 40px 0;
  }
  .nav_m .ul_m .li_m .a_m{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ .ul_m .li_m .a_m{
    margin-left: 0px;
  }
  .nav_m .ul_m .li_m .a_m.active,
  .nav_m .ul_m .li_m .a_m:hover{
    background: none;
    color: #fff;
  }
}

@font-face {
    font-family: GraublauWeb;
    src: url("../../Paradizo") format("opentype");
}
.content{
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  z-index: -1;
  width: 100%;
  /* padding: 0 30px; */
  color: #1b1b1b;
  margin-top: auto;
  margin-bottom: auto;
}


.fa {  
  padding: 20px;  
  text-align: center;  
  margin: 5px -1px;  
  font-size: 30px;
  width: 55px;  
  text-decoration: none;
  border-radius: 50%;
}  

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


.fa-google {  
  background: #dd4b39;  
  color: white;  
}  

.fa-github{
  background: black;
    color: white;
}

.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-skype {  
  background: #00aff0;  
  color: white;  
}  